/*----------------------Thèmes--------------------------------------*/
@media (prefers-color-scheme: dark) {
    :root{

        /*----Commun----*/
        --background-color:#14121C;
        --headbg:url(images/bannière\ officielle.png);
        --main-color:#f7f7f7;
        --filter-logo:invert(100%);

        --title1-color: white;
        --title1-shadow: 0 0 60px  white;
        --title2-color:white;
        --title3-color:gold;

        /*----header---*/
        
        --a-color: gold;
        --abg:black;
        --abg-hover:#4c006c;
        --filter-button: invert(0%);

        /*------Footer-------*/
        --border-footer:white;

        /*---------------------------------------------------------*/

        /*----Accueil---*/

        --border-color: #B5B9FC;
        --border-perso:#B5B9FC;
        --bg-perso: #16004C;
        --bg-accroche: linear-gradient(#16004C, #4c006c);
        
        --perso-shadow:none;
        --accroche-shadow: #B5B9FC;
        --acc-btn: linear-gradient(#D533FF, #ADDDFB);

        --button:black;
        --button-bg:white;
        --nb-color:black;
        --dot:#bbb;
        --dot-hover: #717171;

        --projbg:linear-gradient(#16004C, #8674CD);
        --proja: gold;
        --proja-shadow: black;
        --projtitre:#16004C;
        --projborder:#AADBFD;
    }
}

[data-theme="light"] {
    /*----Commun----*/
    --background-color:#F5F6FF;
    --headbg:url(images/bannière\ officielle.png);
    --main-color:#14121C;
    --filter-logo:invert(0%);

    --title1-color: white;
    --title1-shadow: 0 0 60px  white;
    --title2-color:#14121C;
    --title3-color:gold;

    /*----header---*/
    
    --a-color: gold;
    --abg:black;
    --abg-hover:#4c006c;
    --filter-button: invert(100%);

    /*------Footer-------*/
    --border-footer:white;

    /*---------------------------------------------------------*/

    /*----Accueil---*/

    --border-color: #B5B9FC;
    --border-perso:#B5B9FC;
    --bg-perso: #D6DCFF;
    --bg-accroche: linear-gradient(#B5B9FC, #F6D6FF);
    
    --perso-shadow:none;
    --accroche-shadow: #B5B9FC;
    --acc-btn: linear-gradient(#D533FF, #ADDDFB);

    --button:black;
    --button-bg:white;
    --nb-color:black;
    --dot:#bbb;
    --dot-hover: #717171;

    --projbg:linear-gradient(#B5B9FC, #8674CD);
    --proja: gold;
    --proja-shadow: black;
    --projtitre:#b1b4f5;
    --projborder:#70c1fa;
}





/*-----------------------Commun----------------------------*/

body{
    margin:0px;
    background:var(--background-color);
    color: var(--main-color); ;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap:75px;
}

h1{
    text-align: center;
    font-size: 100px;
    color: var(--title1-color);
    text-shadow: var(--title1-shadow);
    margin-top:50px;
}

h2{
    text-align: center;
    color:var(--title2-color);
    font-size: 47px;
}

h3{
    text-align: center;
    color:var(--title3-color);
    font-size: 25px;
}

.logo{
    width:75px;
    height:75px;
    filter:var(--filter-logo);
}

/*-------------------------------Header-----------------------------*/

header{
    background-image:var(--headbg);
    height:350px;
}
/*--navbar--*/
nav  a{
    /*texte*/
    font-family: sans-serif;
    font-size: 17px;
    text-align: center;
    text-decoration: none;
    color: var(--a-color);
    background: var(--abg);

    /*position*/
    float:right;
    width:75px;
    height: 36px;
    line-height: 33px;
    padding: 10px;
}

nav  a:hover{
    background: var(--abg-hover); 
}

button{
    width:75px;
    height:75px;
    position: relative;
    background : none;
    border:none;
    cursor: pointer;
}

button img{
    width:75px;
    position:relative;
    filter: var(--filter-button);
}


/*--dropdown--*/
.dropdown {
    float: right;
    position: relative;
    cursor: pointer;
    background: var(--abg);
}

.bouton {
    background: var(--backcolor);
    color: var(--a-color);
    font-family: sans-serif;
    font-size: 17px;

    width:75px;
    height: 36px;
    margin: 10px;
    border:none;
    cursor: pointer; 
}



.dropdown-child {
    display: none;
    position: absolute;
}

.dropdown-child a {
    float:none;
    display: block;
}

.dropdown:hover{
    background-color: var(--abg-hover);
}

.dropdown:hover .dropdown-child {
    display: block;
}


/*-----------------------Footer---------------------------*/

footer{
    border-top:  solid var(--border-footer) 1px;
    padding: 20px;
    padding-left: 50px;
    
}


/*-----------------------------------------------------------------------------------------------*/


/*------------------------Accueil--------------------------*/

.presentation{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.perso{
    display:flex;
    flex-direction: column;
    background: var(--bg-perso);
    border: solid var(--border-perso) 3px;
    border-radius:15px;
    width:400px;
    box-shadow:0 0 60px  var(--perso-shadow);
}

.perso img{
    border-radius: 15px;
}

.perso ul{
    list-style: none;
    padding:20px;
}
.perso li{
    padding: 5px;
}

.accroche{
    text-align: center;
    font-size: 20px;
    border: solid var(--border-color) 3px;
    border-radius:15px;
    box-shadow:0 0 40px  var(--accroche-shadow);
    background: var(--bg-accroche);

    width:800px;
    padding:20px;
    margin:20px;
}

.accroche button{
    color:var(--main-color);
    background:var(--acc-btn);
    width:200px;
    height:50px;
    border: solid 1px var(--acc-btn);
    border-radius: 15px;
}
.accroche a{
    text-decoration: none;
    color:var(--title1-color);
    font-size: 25px;
}


/*--Slider--*/

.slider {
    box-sizing:border-box;
    max-width: 900px;
    position: relative;
    margin: auto;
}

#slide2, #slide3 {
    display: none;
}

.pre, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: 25px;
    padding: 16px;

    color: var(--button);
    font-weight: bold;
    font-size: 25px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0px;
    border-radius: 3px 0 0 3px;
}

.pre:hover, .next:hover {
    background-color: var(--button-bg);
}

.nb{
    color: var(--nb-color);
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin: 0 2px;
    background-color: var(--dot) ;
    border-radius: 50%;
    display: inline-block;
    transition: 0.6s ease;
}

.active, .dot:hover {
    background-color: var(--dot-hover);
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}


/*--Projet--*/

.projet{
    display:flex;
    flex-direction: row;
    align-items: center;
    border:var(--projborder) solid 3px;
    border-radius:15px;
    background:var(--projbg);
}

.projet img{
    min-width:380px;
    height:500px;
    border-radius: 15px;
}

.projet p{
    text-align: center;
    margin:50px;
    
}

.text {
    color: var(--main-color);
    background: var(--projtitre);
    font-size: 35px;
    padding: 8px 12px;
    border: solid 3px var(--projborder);
    border-radius: 0 0 15px 15px;

    position: absolute;
    left: 50%;
    top:0px;
    transform: translate(-50%);
    width: auto;
    text-align: center;
}

.slide a{
    color: var(--proja);
    text-shadow:  3px 1px 3px var(--proja-shadow);
    font-size: 30px;

    position:absolute;
    width:auto;
    bottom: 20px;
    right:20px;
}

/*--------------------------Contacts------------------------*/

#suite-contacts{
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap:30px;
    align-items: center;
}

#avatar{
    width:200px;
    height:auto;
    border-radius: 1000px;
}

/*--Conteners--*/

.contener{
    display: flex;
    align-items: center;
    border: 1px solid var(--border-color);
    width: 400px;
    height: auto;
    color:var(--main-color);
    text-align: center;
}
.contener img{
    width:60px;
    margin-right: 10px;
}


/*-----------------------Projet-------------------------------*/


/*--Presentation projet--*/

.projet-pres{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projet-pres img{
    width: 700px;
    height: 400px;
    position: relative;
}

.projet-pres ul{
    padding: 0px;
    text-align: left;
    list-style: none;
}

.accroche-proj{
    width:1200px;
    text-align: center;
}


/*--Travail--*/



/*-------------------------cv---------------------*/
